# Папка сборки
build/

# Бинарные файлы
*.o
*.exe
*.out
hello-world
hello-worldd

# Кэш CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# VS Code
.vscode/.ropeproject
.vscode/ipynb_checkpoints/
